In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
phone_data <- read.csv("/home/nmit/Downloads/phone_data.csv")

In [3]:
phone_data

    index date           duration  item month   network   network_type
1    0    15/10/14 06:58   34.429  data 2014-11 data      data
2    1    15/10/14 06:58   13.000  call 2014-11 Vodafone  mobile
3    2    15/10/14 14:46   23.000  call 2014-11 Meteor    mobile
4    3    15/10/14 14:48    4.000  call 2014-11 Tesco     mobile
5    4    15/10/14 17:27    4.000  call 2014-11 Tesco     mobile
6    5    15/10/14 18:55    4.000  call 2014-11 Tesco     mobile
7    6    16/10/14 06:58   34.429  data 2014-11 data      data
8    7    16/10/14 15:01  602.000  call 2014-11 Three     mobile
9    8    16/10/14 15:12 1050.000  call 2014-11 Three     mobile
10   9    16/10/14 15:30   19.000  call 2014-11 voicemail voicemail
11  10    16/10/14 16:21 1183.000  call 2014-11 Three     mobile
12  11    16/10/14 22:18    1.000  sms  2014-11 Meteor    mobile
13  12    16/10/14 22:21    1.000  sms  2014-11 Meteor    mobile
14  13    17/10/14 06:58   34.429  data 2014-11 data      data
15  14    17/10/14 10:53    1.000  sms  2014-11 Tesco     mobile
16  15    17/10/14 11:19    1.000  sms  2014-11 Tesco     mobile
17  16    17/10/14 11:20    1.000  sms  2014-11 Meteor    mobile
18  17    17/10/14 17:22    1.000  sms  2014-11 Vodafone  mobile
19  18    17/10/14 17:23    1.000  sms  2014-11 Vodafone  mobile
20  19    17/10/14 17:26   92.000  call 2014-11 Three     mobile
21  20    17/10/14 17:29    4.000  call 2014-11 Vodafone  mobile
22  21    17/10/14 17:30  375.000  call 2014-11 Tesco     mobile
23  22    17/10/14 17:42    1.000  sms  2014-11 Vodafone  mobile
24  23    17/10/14 17:44    1.000  sms  2014-11 Vodafone  mobile
25  24    17/10/14 17:44    1.000  sms  2014-11 Vodafone  mobile
26  25    17/10/14 17:44    1.000  sms  2014-11 Vodafone  mobile
27  26    18/10/14 06:58   34.429  data 2014-11 data      data
28  27    18/10/14 11:51  783.000  call 2014-11 Tesco     mobile
29  28    18/10/14 12:06    4.000  call 2014-11 Vodafone  mobile
30  29    18/10/14 12:06    3.000  call 2014-11 Vodafone  mobile
⋮   ⋮     ⋮              ⋮         ⋮    ⋮       ⋮         ⋮
801 800   2/3/2015 14:53     2.000 call 2015-03 voicemail voicemail
802 801   2/3/2015 14:54    93.000 call 2015-03 voicemail voicemail
803 802   2/3/2015 17:35   192.000 call 2015-03 Meteor    mobile
804 803   2/3/2015 20:48    34.000 call 2015-03 Tesco     mobile
805 804   3/3/2015 6:58     34.429 data 2015-03 data      data
806 805   3/3/2015 9:57     76.000 call 2015-03 landline  landline
807 806   3/3/2015 9:59    355.000 call 2015-03 Three     mobile
808 807   3/3/2015 10:12   745.000 call 2015-03 Vodafone  mobile
809 808   3/3/2015 10:27    57.000 call 2015-03 Vodafone  mobile
810 809   3/3/2015 14:34  1325.000 call 2015-03 Vodafone  mobile
811 810   3/3/2015 18:36   768.000 call 2015-03 Three     mobile
812 811   4/3/2015 6:58     34.429 data 2015-03 data      data
813 812   4/3/2015 7:02      1.000 sms  2015-03 Vodafone  mobile
814 813   4/3/2015 7:16      1.000 sms  2015-03 Vodafone  mobile
815 814   4/3/2015 10:30     1.000 sms  2015-03 Three     mobile
816 815   4/3/2015 10:30     1.000 sms  2015-03 Three     mobile
817 816   4/3/2015 12:29 10528.000 call 2015-03 landline  landline
818 817   5/3/2015 6:58     34.429 data 2015-03 data      data
819 818   6/3/2015 6:58     34.429 data 2015-03 data      data
820 819   7/3/2015 6:58     34.429 data 2015-03 data      data
821 820   8/3/2015 6:58     34.429 data 2015-03 data      data
822 821   9/3/2015 6:58     34.429 data 2015-03 data      data
823 822   10/3/2015 6:58    34.429 data 2015-03 data      data
824 823   11/3/2015 6:58    34.429 data 2015-03 data      data
825 824   12/3/2015 6:58    34.429 data 2015-03 data      data
826 825   13/03/15 00:38     1.000 sms  2015-03 world     world
827 826   13/03/15 00:39     1.000 sms  2015-03 Vodafone  mobile
828 827   13/03/15 06:58    34.429 data 2015-03 data      data
829 828   14/03/15 00:13     1.000 sms  2015-03 world     world
830 829   14/03/15 00:16     1.000 sms  2015-03 world     world

In [4]:
vodafone_users <- phone_data %>%
 filter(network == "Vodafone") %>%
 nrow()
vodafone_users

[1] 215

In [5]:
number_of_calls <- sum(phone_data$duration > 15)

number_of_calls

[1] 435

In [6]:
top5_duration_calls <- phone_data %>%
 filter(item == "call") %>%
 arrange(desc(duration)) %>%
 distinct(month, .keep_all = TRUE) %>%
 head(5)

print(top5_duration_calls)

  index           date duration item   month  network network_type
1   816 4/3/2015 12:29    10528 call 2015-03 landline     landline
2   252 19/11/14 18:56     2120 call 2014-12    Three       mobile
3    59 23/10/14 08:34     1940 call 2014-11 landline     landline
4   648 25/01/15 16:55     1863 call 2015-02    Three       mobile
5   398 17/12/14 18:08     1859 call 2015-01 Vodafone       mobile

In [7]:
avg_duration_by_network_type <- phone_data %>%
 group_by(network_type) %>%
 summarise(avg_duration = mean(duration))
avg_duration_by_network_type

  network_type avg_duration
1 data          34.42900
2 landline     438.88095
3 mobile       120.45757
4 special        1.00000
5 voicemail     65.74074
6 world          1.00000

In [8]:
avg_duration_by_item_network <- phone_data %>%
 group_by(item, network) %>%
 summarise(avg_duration = mean(duration))
avg_duration_by_item_network

`summarise()` has grouped output by 'item'. You can override using the
`.groups` argument.

   item network   avg_duration
1  call Meteor    133.33333
2  call Tesco     194.76056
3  call Three     284.87500
4  call Vodafone  221.53030
5  call landline  438.88095
6  call voicemail  65.74074
7  data data       34.42900
8  sms  Meteor      1.00000
9  sms  Tesco       1.00000
10 sms  Three       1.00000
11 sms  Vodafone    1.00000
12 sms  special     1.00000
13 sms  world       1.00000

In [9]:
count_by_item_network <- phone_data %>%
 group_by(item, network) %>%
 summarise(count = n())
count_by_item_network

`summarise()` has grouped output by 'item'. You can override using the
`.groups` argument.

   item network   count
1  call Meteor     54
2  call Tesco      71
3  call Three     128
4  call Vodafone   66
5  call landline   42
6  call voicemail  27
7  data data      150
8  sms  Meteor     33
9  sms  Tesco      13
10 sms  Three      87
11 sms  Vodafone  149
12 sms  special     3
13 sms  world       7

In [10]:
month_with_max_calls <- phone_data %>%
 filter(item == "call") %>%
 group_by(month) %>%
 summarise(count = n()) %>%
 arrange(desc(count)) %>%
 head(1)
month_with_max_calls

  month   count
1 2014-11 107

In [11]:
total_messages_world_users <- phone_data %>%
 filter(network == "world" & item == "sms") %>%
 nrow()
total_messages_world_users

[1] 7

In [12]:
proportion_meteor_users <- phone_data %>%
 filter(network == "Meteor") %>%
 nrow() / nrow(phone_data)
proportion_meteor_users

[1] 0.1048193

In [13]:
month_with_highest_duration <- phone_data %>%
 group_by(month) %>%
 summarise(total_duration = sum(duration)) %>%
 arrange(desc(total_duration)) %>%
 head(1)
month_with_highest_duration

  month   total_duration
1 2014-11 26639.44